##########################
# Python artifacts
##########################
__pycache__/
*.py[cod]
*$py.class

##########################
# Virtual environments
##########################
venv/
env/
.venv/
.env/

##########################
# Distribution / Packaging
##########################
dist/
build/
*.egg-info/
*.spec

##########################
# Logs
##########################
*.log

##########################
# System files
##########################
.DS_Store
Thumbs.db

##########################
# VS Code / JetBrains
##########################
.vscode/
.idea/

